@page
@model FinalPojects.Pages.Admin.Medicines.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    #pgmain {
        margin-top: -760px !important;
        height: 730px;
        overflow-y: auto;
    }
</style>

<partial name="sidenav" />

<main id="pgmain">
<h1>Details</h1>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.ProductType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.ScientificName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.ScientificName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.TradName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.TradName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.PharmaceuticalForm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.PharmaceuticalForm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.HowToUse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.HowToUse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.SizeUnit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.SizeUnit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.PackageType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.PackageType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.PackageSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.PackageSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.LegalStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.LegalStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.DistributeArea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.DistributeArea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.PublicPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.PublicPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.StorageConditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.StorageConditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MarktingCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MarktingCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.MainAgent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.MainAgent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.DescriptionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.DescriptionCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medicine.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

        </main>